In [1]:
library("mlogit")

Loading required package: Formula

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: lmtest

# Mode

In [2]:
data("Mode", package = "mlogit")
head(Mode)

  choice cost.car cost.carpool cost.bus cost.rail time.car  time.carpool
1 car    1.507010 2.3356118    1.800512 2.358920  18.503200 26.338233
2 rail   6.056998 2.8969191    2.237128 1.855450  31.311107 34.256956
3 car    5.794677 2.1374543    2.576385 2.747479  22.547429 23.255171
4 car    1.869144 2.5724266    1.903518 2.268276  26.090282 29.896023
5 car    2.498952 1.7220099    2.686000 2.973866   4.699140 12.414084
6 car    4.726875 0.6241683    1.847650 2.310053   3.072979  9.223313
  time.bus time.rail
1 20.86779 30.03347
2 67.18189 60.29313
3 63.30906 49.17164
4 19.75270 13.47268
5 43.09204 39.74325
6 12.82562 43.54422

In [3]:
mode <- mlogit.data(Mode, shape = "wide", choice = "choice", varying = 2:9, sep = ".")
head(mode)

          choice alt     cost     time     chid
1.bus     FALSE  bus     1.800512 20.86779 1
1.car      TRUE  car     1.507010 18.50320 1
1.carpool FALSE  carpool 2.335612 26.33823 1
1.rail    FALSE  rail    2.358920 30.03347 1
2.bus     FALSE  bus     2.237128 67.18189 2
2.car     FALSE  car     6.056998 31.31111 2

In [7]:
MNL <- mlogit(choice ~ cost + time + 1, data=mode)
summary(MNL)

Call:
mlogit(formula = choice ~ cost + time + 1, data = mode, method = "nr")

Frequencies of alternatives:
    bus     car carpool    rail
0.17881 0.48124 0.07064 0.26932

nr method
5 iterations, 0h:0m:0s
g'(-H)^-1g = 6.07E-07
gradient close to zero

Coefficients :
                      Estimate Std. Error  z-value  Pr(>|z|)
car:(intercept)      3.2924661  0.3172767  10.3773 < 2.2e-16 ***
carpool:(intercept) -0.9051585  0.2459427  -3.6804 0.0002329 ***
rail:(intercept)     0.6277690  0.1633612   3.8428 0.0001216 ***
cost                -0.7723478  0.0919795  -8.3970 < 2.2e-16 ***
time                -0.0853574  0.0077484 -11.0161 < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Log-Likelihood: -354.45
McFadden R^2:  0.34811
Likelihood ratio test : chisq = 378.56 (p.value = < 2.22e-16)

In [6]:
MMNL <- mlogit(choice ~ cost + time + 1, data=mode,
                rpar=c(cost = 'n', time = 'n'), R = 100, halton = NA)
summary(MMNL)

Call:
mlogit(formula = choice ~ cost + time + 1, data = mode, rpar = c(cost = "n",
    time = "n"), R = 100, halton = NA)

Frequencies of alternatives:
    bus     car carpool    rail
0.17881 0.48124 0.07064 0.26932

bfgs method
13 iterations, 0h:0m:2s
g'(-H)^-1g = 9.1E-08
gradient close to zero

Coefficients :
                      Estimate Std. Error z-value  Pr(>|z|)
car:(intercept)      3.3101819  0.3627372  9.1256 < 2.2e-16 ***
carpool:(intercept) -0.9003957  0.2477973 -3.6336 0.0002795 ***
rail:(intercept)     0.6315691  0.1648817  3.8304 0.0001279 ***
cost                -0.7761085  0.1063202 -7.2997 2.884e-13 ***
time                -0.0871058  0.0123578 -7.0486 1.807e-12 ***
sd.cost              0.0091231  1.5553864  0.0059 0.9953200
sd.time             -0.0158847  0.0544769 -0.2916 0.7706035
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Log-Likelihood: -354.43
McFadden R^2:  0.34815
Likelihood ratio test : chisq = 378.6 (p.value = < 2.22e-16)

random coefficients
     Min.     1st Qu.      Median        Mean     3rd Qu. Max.
cost -Inf -0.78226193 -0.77610847 -0.77610847 -0.76995500  Inf
time -Inf -0.09781988 -0.08710583 -0.08710583 -0.07639177  Inf

# Catsup

In [8]:
data("Catsup", package = "mlogit")
head(Catsup)

  id disp.heinz41 disp.heinz32 disp.heinz28 disp.hunts32 feat.heinz41
1 1  0            0            0            0            0
2 1  0            0            0            0            0
3 1  0            0            0            0            0
4 1  0            0            0            0            0
5 1  0            0            0            0            0
6 1  0            0            0            0            0
  feat.heinz32 feat.heinz28 feat.hunts32 price.heinz41 price.heinz32
1 0            0            0            4.6           3.7
2 0            0            0            4.6           4.3
3 1            0            0            4.6           2.5
4 0            0            0            4.6           3.7
5 0            1            0            4.6           3.0
6 0            0            0            5.0           3.0
  price.heinz28 price.hunts32 choice
1 5.2           3.4           heinz28
2 5.2           4.4           heinz28
3 4.6           4.8           heinz28
4 5.2           3.4           heinz28
5 4.6           4.8           heinz28
6 4.7           3.0           heinz28

In [9]:
Catsup <- mlogit.data(Catsup, shape = "wide", choice = "choice", varying = 2:13, sep = ".")
head(Catsup)

          id choice alt     disp feat price chid
1.heinz28 1   TRUE  heinz28 0    0    5.2   1
1.heinz32 1  FALSE  heinz32 0    0    3.7   1
1.heinz41 1  FALSE  heinz41 0    0    4.6   1
1.hunts32 1  FALSE  hunts32 0    0    3.4   1
2.heinz28 1   TRUE  heinz28 0    0    5.2   2
2.heinz32 1  FALSE  heinz32 0    0    4.3   2

In [12]:
MNL <- mlogit(choice ~ disp + feat + price + 1, data=Catsup)
summary(MNL)

Call:
mlogit(formula = choice ~ disp + feat + price + 1, data = Catsup,
    method = "nr")

Frequencies of alternatives:
 heinz28  heinz32  heinz41  hunts32
0.304146 0.521086 0.065046 0.109721

nr method
5 iterations, 0h:0m:0s
g'(-H)^-1g = 0.00292
successive function values within tolerance limits

Coefficients :
                     Estimate Std. Error  z-value  Pr(>|z|)
heinz32:(intercept) -0.924723   0.077218 -11.9755 < 2.2e-16 ***
heinz41:(intercept) -1.072272   0.087321 -12.2796 < 2.2e-16 ***
hunts32:(intercept) -2.425974   0.096189 -25.2209 < 2.2e-16 ***
disp                 0.875593   0.097014   9.0254 < 2.2e-16 ***
feat                 0.908559   0.114030   7.9677 1.554e-15 ***
price               -1.402405   0.057991 -24.1832 < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Log-Likelihood: -2517.9
McFadden R^2:  0.19788
Likelihood ratio test : chisq = 1242.3 (p.value = < 2.22e-16)

In [13]:
MMNL <- mlogit(choice ~ disp + feat + price + 1, data=Catsup,
              rpar=c(disp = 'n', feat = 'n', price = 'n'), R = 100, halton = NA)
summary(MMNL)

Call:
mlogit(formula = choice ~ disp + feat + price + 1, data = Catsup,
    rpar = c(disp = "n", feat = "n", price = "n"), R = 100, halton = NA)

Frequencies of alternatives:
 heinz28  heinz32  heinz41  hunts32
0.304146 0.521086 0.065046 0.109721

bfgs method
15 iterations, 0h:0m:11s
g'(-H)^-1g = 7.3E-08
gradient close to zero

Coefficients :
                     Estimate Std. Error  z-value  Pr(>|z|)
heinz32:(intercept) -0.977786   0.083906 -11.6534 < 2.2e-16 ***
heinz41:(intercept) -1.126886   0.092641 -12.1640 < 2.2e-16 ***
hunts32:(intercept) -2.580614   0.124370 -20.7495 < 2.2e-16 ***
disp                 1.124226   0.165706   6.7845 1.165e-11 ***
feat                 1.009290   0.142485   7.0835 1.406e-12 ***
price               -1.530289   0.093680 -16.3353 < 2.2e-16 ***
sd.disp              1.516837   0.401825   3.7749 0.0001601 ***
sd.feat              1.105651   0.363030   3.0456 0.0023220 **
sd.price             0.390305   0.205279   1.9013 0.0572571 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Log-Likelihood: -2510
McFadden R^2:  0.20038
Likelihood ratio test : chisq = 1258 (p.value = < 2.22e-16)

random coefficients
      Min.    1st Qu.    Median      Mean   3rd Qu. Max.
disp  -Inf  0.1011352  1.124226  1.124226  2.147318  Inf
feat  -Inf  0.2635396  1.009290  1.009290  1.755040  Inf
price -Inf -1.7935454 -1.530289 -1.530289 -1.267032  Inf